body {
    font-family: 'Arial', sans-serif;
    background-color: #2939ee;
    color: #fff;
    /* Improved text readability */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    /* Added padding for better spacing */
}

form {
    background: rgba(147, 131, 236, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    /* Maximum width for better form handling on large screens */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    /* Spacing adjustment for better layout */
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #fff;
    color: #000000;
}

button {
    background-color: #4CAF50;
    color: rgb(1, 33, 64);
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

button:hover {
    background-color: #45a049;
}

header,
footer {
    text-align: center;
    margin: 10px 0;
}

footer p {
    font-size: 0.8rem;
    color: #ddd;
    /* Footer text color */
}